* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: skyblue;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header {
    width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    display: flex;
    justify-content: space-between;
}
h4{
    text-align: left;
}
.footer {
    position: absolute;
    text-align: center;
    bottom: 14px;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
  }